name: Test

on:
  push

env:
  CARGO_TERM_COLOR: always
  LIBCLANG_PATH: /usr/lib/llvm-14/lib/

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        edition: [community, enterprise]
        include:
          - edition: community
            cargo_flags: ""
          - edition: enterprise
            cargo_flags: "--features=enterprise"
    steps:
      - name: Install apt-get
        run: sudo apt-get install -y clang llvm
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1 # v1
        with:
            toolchain: nightly
            components: rustfmt, clippy
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Run tests
        run: cargo test ${{ matrix.cargo_flags }} --verbose
      - name: Run tests with Couchbase Lite C leak check
        run: LEAK_CHECK=y cargo test ${{ matrix.cargo_flags }} --verbose -- --test-threads 1
      - name: Run tests (with address sanitizer)
        run: LSAN_OPTIONS=suppressions=san.supp RUSTFLAGS="-Zsanitizer=address" cargo +nightly test --target x86_64-unknown-linux-gnu ${{ matrix.cargo_flags }} --verbose
